* {
  margin: 0;
  padding: 0;
}
#fields input {
  margin-left: 0;
  outline: none;
  width: 100%;
}

.container-fluid {
  font-family: Georgia;
  font-style: italic;
  max-width: 300px;
  padding: 5%;
}

#name {
  text-align: center;
}

.btn-primary {
  margin-right: 20%;
}

#references {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 0;
  align-items: center;
  justify-content: space-between;
}

textarea {
  width: 100%;
}